/* colors palette */
:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --main-bgc-color: #fff;
    --secondary-bgc-color: #2F303A;
    --link-button-color: #2196F3;
    --nav-letter-spacing: 0.02em;
}

body{
    background-color:var(--main-bgc-color) ;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.header-section{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.nav-list{
    margin-left: 93px;
    display: flex;
    width: 259px;
    justify-content: space-between;
}


.nav-item{
    letter-spacing: var(--nav-letter-spacing);
}

.nav-item:hover, .nav-item:focus{
    color: var(--link-button-color);
    cursor: pointer;
}

.header-contacts-item:last-child{
    margin-left: 40px;
}

.header-contacts-item{
    display: flex;
    align-items: center;
}

.contacts-header{
    display: flex;
    align-items: center;
    margin-left: 330px;
}

.header-mail-icon{
    width: 16px;
    height: 12px;
    fill: var(--secondary-text-color);
}

.header-phone-icon{
    width: 10px;
    height: 16px;
    fill: var(--secondary-text-color);
    
}

.header-mail-icon:focus,.header-mail-icon:hover,
.header-phone-icon:focus,.header-phone-icon:hover{
    fill: var(--link-button-color);
}

.header-mail,.header-phone{
    letter-spacing: var(--nav-letter-spacing);
    margin-left: 10px;
    color: var(--secondary-text-color);
}

.nav-item, .header-phone, .header-mail{
    font-weight: 500; 
}

.header-mail:hover, .header-mail:focus, .header-phone:hover, .header-phone:focus{
    color: var(--link-button-color);
    cursor: pointer;
}

.title-section{
    padding-bottom: 200px;
    background: #2F303A66, url('/images/Img.jpg');
    ;  
    padding-top: 200px;
}

.website-title{
    color: var(--main-bgc-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-align: center;

}

.request-button{
    display: block;    
    width: 200px;
    height: 50px;
    margin:0 auto;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--main-bgc-color);
    background: var(--link-button-color);
}

.capabilities-main-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.capabilities-text{
    color: var(--secondary-text-color);
    line-height: 1.71;
}

.capabilities-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.capabilities-item{
    /* flex-basis: calc((100%-3*30px)/4); */
    width: 270px;
} 

.capabilities-title{
    font-weight: 700;
}

.capabilities-photo-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.capabilities-main-title, .team-title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.capabilities-main-title{
    margin-top: 94px;
}

.team-section{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list{
    margin-top: 50px;
    display: flex;
    column-gap: 30px;
    flex-basis: calc((100%-30*3)/4);
}

.team-list-wrapper{
    background-color: var(--main-bgc-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;

}  

.team-names{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.team-role{
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-top: 10px;
    text-align: center;
}

.footer-section{
    background-color: var(--secondary-bgc-color);
    padding: 60px 0px;
}

.address{
    color: var(--main-bgc-color);
    margin-top: 28px;
}

.footer-mail, .footer-phone{
    margin-top: 12px;
    color: #FFFFFF99;
}

.website-name-link{
    color: #000;
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
}

.footer-website-name-link{
    color: var(--main-bgc-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    display: block;
}

.website-name-link-web{
    color: var(--link-button-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}
