.customers-sections {
    padding: 94px 0;
}

.customers-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.customers__svg {
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding: 16px 32px;
}

.customers__svg:focus,
.customers__svg:hover {
    fill: var(--link-button-color);
    border-color: var(--link-button-color);
}