body {
    background-color: $main-bgc-color;
    color: $primary-text-color;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}


.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}